%h1
  Earthquake API v0.1
  = "Tracking #{Earthquake.all.count} earthquakes."
For information on use and to fork a copy of your own please checkout the
%a{:href => "https://github.com/jasontruluck/earthquake_api", :target => "_blank"}
  github repository

